In [1]:
import pandas as pd
from pymongo import MongoClient
from geopy.geocoders import Nominatim
from bson import Decimal128

In [2]:
connection_string="mongodb+srv://Thiru:2LM1zUc3EVzfqfQ4@cluster1.qqgenya.mongodb.net/?retryWrites=true&w=majority"

# Create a MongoDB client
client = MongoClient(connection_string)
db_names = client.list_database_names()
#db_names

In [3]:
db = client.get_database("sample_airbnb")

#collection = db.list_collection_names()

collection = db.get_collection("listingsAndReviews")

In [4]:
all_documents = collection.find({})
first_document=collection.find_one()

In [5]:
first_document

{'_id': '1003530',
 'listing_url': 'https://www.airbnb.com/rooms/1003530',
 'name': 'New York City - Upper West Side Apt',
 'summary': '',
 'space': 'Murphy bed, optional second bedroom available. Wifi available, Hulu, Netflix, TV Eat-in kitchen. Bathroom with great shower/bath.  Washer/dryer in basement.',
 'description': "Murphy bed, optional second bedroom available. Wifi available, Hulu, Netflix, TV Eat-in kitchen. Bathroom with great shower/bath.  Washer/dryer in basement. New York City! Great neighborhood - many terrific restaurants, bakeries, bagelries. Within easy walking distance are restaurants with the cuisines from India, Thailand, Japan, China, Mexico, South America and Europe.  As well as the many small independent stores that line Broadway, there chain stores such as Urban Outfitters (clothing), Whole Foods (groceries), Sephora (cosmetics), Michaels (crafts), and Modell's (sporting goods). Equidistant to Central Park and Riverside Park which have walking/running/biking trails as well as tennis and racquet ball courts. 10-15 blocks from Columbia University between Broadway and Amsterdam. The International Hostel across the street is an airport shuttle bus and double-decker tour bus stop.  The Hostel also has services available to the neighborhood such as lectures, brochures, etc. Convenientl",
 'neighborhood_overview': "Great neighborhood - many terrific restaurants, bakeries, bagelries. Within easy walking distance are restaurants with the cuisines from India, Thailand, Japan, China, Mexico, South America and Europe.  As well as the many small independent stores that line Broadway, there chain stores such as Urban Outfitters (clothing), Whole Foods (groceries), Sephora (cosmetics), Michaels (crafts), and Modell's (sporting goods). Equidistant to Central Park and Riverside Park which have walking/running/biking trails as well as tennis and racquet ball courts. 10-15 blocks from Columbia University between Broadway and Amsterdam. The International Hostel across the street is an airport shuttle bus and double-decker tour bus stop.  The Hostel also has services available to the neighborhood such as lectures, brochures, etc.",
 'notes': 'My cat, Samantha, are in and out during the summer.  The apt is layed out in such a  way that each bedroom is very private.',
 'transit': 'Conveniently located near 1, 2, 3, B & C subway lines. Also buses on Columbus Avenue (downtown), Amsterdam Avenue (uptown), and Broadway (uptown/downtown). Also near origination/termination of M60 bus which goes to/from LaGuardia Airport.',
 'access': 'New York City!',
 'interaction': '',
 'house_rules': 'No smoking is permitted in the apartment. All towels that are used should be placed in the bath tub upon departure. I have a cat, Samantha, who can stay or go, whichever is preferred.   Please text me upon departure.',
 'property_type': 'Apartment',
 'room_type': 'Private room',
 'bed_type': 'Real Bed',
 'minimum_nights': '12',
 'maximum_nights': '360',
 'cancellation_policy': 'strict_14_with_grace_period',
 'last_scraped': datetime.datetime(2019, 3, 7, 5, 0),
 'calendar_last_scraped': datetime.datetime(2019, 3, 7, 5, 0),
 'first_review': datetime.datetime(2013, 4, 29, 4, 0),
 'last_review': datetime.datetime(2018, 8, 12, 4, 0),
 'accommodates': 2,
 'bedrooms': 1,
 'beds': 1,
 'number_of_reviews': 70,
 'bathrooms': Decimal128('1.0'),
 'amenities': ['Internet',
  'Wifi',
  'Air conditioning',
  'Kitchen',
  'Elevator',
  'Buzzer/wireless intercom',
  'Heating',
  'Family/kid friendly',
  'Washer',
  'Dryer',
  'translation missing: en.hosting_amenity_50'],
 'price': Decimal128('135.00'),
 'security_deposit': Decimal128('0.00'),
 'cleaning_fee': Decimal128('135.00'),
 'extra_people': Decimal128('0.00'),
 'guests_included': Decimal128('1'),
 'images': {'thumbnail_url': '',
  'medium_url': '',
  'picture_url': 'https://a0.muscache.com/im/pictures/15074036/a97119ed_original.jpg?aki_policy=large',
  'xl_picture_url': ''},
 'host': {'host_id': '454250',
  'host_url': 'https://www.airbnb.com/users/show/454250',
  'host_name': 'Greta',
  'host_location': 'New York, New York, United States',
  'host_about': 'By now I have lived longer in the city than the country however I feel equally at home in each. I like to keep one foot in each and help others to do the same!',
  'host_response_time': 'within an hour',
  'host_thumbnail_url': 'https://a0.muscache.com/im/pictures/f1022be4-e72a-4b35-b6d2-3d2736ddaff9.jpg?aki_policy=profile_small',
  'host_picture_url': 'https://a0.muscache.com/im/pictures/f1022be4-e72a-4b35-b6d2-3d2736ddaff9.jpg?aki_policy=profile_x_medium',
  'host_neighbourhood': '',
  'host_response_rate': 100,
  'host_is_superhost': True,
  'host_has_profile_pic': True,
  'host_identity_verified': True,
  'host_listings_count': 3,
  'host_total_listings_count': 3,
  'host_verifications': ['email',
   'phone',
   'reviews',
   'jumio',
   'offline_government_id',
   'government_id']},
 'address': {'street': 'New York, NY, United States',
  'suburb': 'Manhattan',
  'government_area': 'Upper West Side',
  'market': 'New York',
  'country': 'United States',
  'country_code': 'US',
  'location': {'type': 'Point',
   'coordinates': [-73.96523, 40.79962],
   'is_location_exact': False}},
 'availability': {'availability_30': 0,
  'availability_60': 0,
  'availability_90': 0,
  'availability_365': 93},
 'review_scores': {'review_scores_accuracy': 10,
  'review_scores_cleanliness': 9,
  'review_scores_checkin': 10,
  'review_scores_communication': 10,
  'review_scores_location': 10,
  'review_scores_value': 10,
  'review_scores_rating': 94},
 'reviews': [{'_id': '4351675',
   'date': datetime.datetime(2013, 4, 29, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '3708459',
   'reviewer_name': 'Josh',
   'comments': "i had a really pleasant stay at greta's place. the location is super convenient -- and the area is fun, with lots of hidden gems. the apartment was comfortable and charming. greta was accommodating and hospitable and left some great cupcakes in the fridge. i give this place a strong endorsement."},
  {'_id': '4848277',
   'date': datetime.datetime(2013, 5, 28, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '4609491',
   'reviewer_name': 'Ralf',
   'comments': 'Greta has been a great host, and her apartment a great place to stay. Perfectly located for our adventures around NYC, it is a place full of character and, as I see it, a very authentic NY Apartment that makes you feel at home imediately. Great neighbourhood, great infrastructure around the apartment block. Very good for a perfect stay.'},
  {'_id': '5094175',
   'date': datetime.datetime(2013, 6, 11, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '6741662',
   'reviewer_name': 'Mame',
   'comments': "Greta was wonderful. We arrived late at night and she made sure we were able to get in. We also had to transfer to a hotel for work, and she allowed us to keep our belongings there until 3 so we wouldn't be carting our luggage until we needed to. The apartment was clean and large and in a wonderful neighborhood. She had lists and menus of places to eat. I couldn't have been happier with our arrangement. Thanks Greta!"},
  {'_id': '5497796',
   'date': datetime.datetime(2013, 7, 2, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '474156',
   'reviewer_name': 'Lars',
   'comments': "Greta's place is very well located, so close to the MTA 1 line, which takes you up and down Manhattan, which was perfect for me.  It was an easy 3 minute walk and be on your way to anywhere in NY. \r\nThe shower is something else, the best water pressure I have experienced in a long time.\r\nI thought the decor was cool and eclectic, Greta must have an artistic streak. The Murphy bed was comfortable, and the AC unit (not pictured) kept it nice and cool.  \r\nAlthough I didn't meet her, she arranged for a neighbor to meet me and show me in. He was cool and so were any other neighbors that I met. \r\nShe also left a list of suggestions where to shop and eat, along with menus which was helpful when I needed a late night meal. \r\nHighly recommended. \r\n"},
  {'_id': '6933005',
   'date': datetime.datetime(2013, 8, 31, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '6067127',
   'reviewer_name': 'Nicole',
   'comments': "I had a wonderful stay at Greta's NYC apartment. The apartment was clean and comfortable. She was a wonderful and informative host. I felt very welcomed in her home."},
  {'_id': '7205029',
   'date': datetime.datetime(2013, 9, 10, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '7743438',
   'reviewer_name': 'Ute',
   'comments': 'Hi Greta,\r\nyou have a wonderful place. We had a great time an felt really comfortable - little bit like beeing home in NY :)\r\nEverything worked out pretty good, also the connection to La Guardia Airport was perfect.\r\n\r\nThanks again :)\r\n'},
  {'_id': '7464858',
   'date': datetime.datetime(2013, 9, 21, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '8543724',
   'reviewer_name': 'Drew',
   'comments': 'Greta was very welcoming and helpful. Prompt email communication.\r\n\r\nA great stay for those in town to see Broadway shows, shopping or sight seeing the West Side. A few minutes walking and I was in Central Park.\r\n\r\nA definite recommendation.'},
  {'_id': '7515354',
   'date': datetime.datetime(2013, 9, 23, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '1683177',
   'reviewer_name': 'Don',
   'comments': 'Greta was flexible about our sign-in time, helpful as we arrived, and kind to return to us a bag that we left in her apartment.  The apartment is wonderfully located for transportation and things to do.  It is compact and comfy, full of interesting books and prints.  The bed is quite firm.'},
  {'_id': '7871931',
   'date': datetime.datetime(2013, 10, 7, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '2871729',
   'reviewer_name': 'Heidi',
   'comments': 'We spent three nights in Greta’s apartment. Her kitchen is fully-equipped and the sleeping arrangements are extremely comfortable. Greta is a very accommodating host and easy to communicate with. She was very gracious about our later-than-expected arrival and allowed us to stay in her apartment on our departure day until we left for an early evening flight. Her apartment is very well-located, with food markets, drug stores, restaurants and coffee shops within a block of her building. The building is ½ block from the #1 subway line, enabling easy access to all parts of Manhattan.'},
  {'_id': '8136769',
   'date': datetime.datetime(2013, 10, 17, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '7811780',
   'reviewer_name': 'Julia',
   'comments': "We enjoyed our stay in Greta's apartment very much. The location is perfect, near Central Park, Broadway and everything, and the apartment is extremely cosy. Greta was very welcoming and helpful. We had a great time and felt really comfortable. Thanks :-)\r\n"},
  {'_id': '8210485',
   'date': datetime.datetime(2013, 10, 21, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '8119019',
   'reviewer_name': 'Diane',
   'comments': "Our stay are Greta's was wonderful- she was so accomodating and welcoming.  Her apartment is lovely and such a great place to unwind from the hurried family weekend weekend we had.  Greta even accomodated the joining of my niece and nephew for one of the two nights with no problem.. Thank you so much, Greta, for your hospitality!  "},
  {'_id': '8478870',
   'date': datetime.datetime(2013, 11, 2, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '8140760',
   'reviewer_name': 'Linda',
   'comments': 'Greta was a gracious and accommodating host, even coming over during our stay to reset the wifi connections.  The location of the apartment is ideal, basically half a short block to the subway.  Her list of neighborhood restaurants was very helpful and we sampled as many as we were able to. She has everything organized well.'},
  {'_id': '8587648',
   'date': datetime.datetime(2013, 11, 6, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '9307997',
   'reviewer_name': 'Maureen',
   'comments': "Greta's apartment was comfortable and clean and the neighborhood was easily accessible to museums and other locations. A bit noisy at night."},
  {'_id': '8768655',
   'date': datetime.datetime(2013, 11, 17, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '9464736',
   'reviewer_name': 'George',
   'comments': 'Greta was extremely helpful throughout this process!  Communication was maintained throughout the process and throughout our stay.  She was able to answer any questions we had and even gave suggestions for us.  Her instructions were awesome and the information left at her apartment were great!  There was even a binder with additional information like places to eat and places to go.  She even took the time to make sure we knew how to use the radiator!  Being from Hawaii, we had no knowledge about radiators and how to use them - we really appreciated her thoughtfulness!'},
  {'_id': '9179262',
   'date': datetime.datetime(2013, 12, 11, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '9405167',
   'reviewer_name': 'Whitney',
   'comments': "Greta's apartment was homey, clean and just the right size for two (probably even three) people. Greta was extremely helpful in getting us settled and providing information about the neighborhood....etc. Murphy bed was very firm but comfortable. Great water pressure in shower. Apt is close to everything and  the neighborhood has so much to offer. I would definitely recommend Greta's place.  "},
  {'_id': '9428838',
   'date': datetime.datetime(2013, 12, 28, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '10297643',
   'reviewer_name': 'Deborah & Tim',
   'comments': "The apartment is very homey - it felt like I was staying in a friend's apartment. The bed is surprisingly comfy and firm (I have never slept in a Murphy bed before) and the shower had plenty of hot water and great pressure. Greta was very communicative and friendly, and was also incredibly accommodating when I had something come up unexpectedly and needed to stay a couple hours longer than I anticipated. Overall all it was a very cozy stay in a great location!"},
  {'_id': '9543118',
   'date': datetime.datetime(2014, 1, 2, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '8828184',
   'reviewer_name': 'Catherine',
   'comments': 'The location of this appartment was ideal! Just minutes away the subway and walking distance from Central Park, Riverside Park, and many good restaurants on Broadway. A quaint appartment, with a lot of cachet. I recommend it!!'},
  {'_id': '20872115',
   'date': datetime.datetime(2014, 10, 6, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '7838233',
   'reviewer_name': 'Brandon',
   'comments': 'What a delightful apartment!  I plan to stay here next time I bring family to New York. I would describe the apartment as a very warm, personal, comfortable and homey place to stay. It’s a corner apartment with good light, lots of books and  very good energy. Plus, the beds are quite comfortable. My daughter exclaimed “Hey Dad, come lie down in this one. You’ll never want to get up!”\r\n\r\nThe neighborhood was incredibly well located and enjoyable. The train stops  a half block away, and there are numerous excellent restaurants and conveniences close by. Greta, the host, provides a first-rate list of recommendations.\r\n\r\nGreta was a personable, helpful and extremely welcoming host. She was very quick to respond to my online inquiries and, once we arrived, to any further requests for advice.\r\n'},
  {'_id': '22257920',
   'date': datetime.datetime(2014, 11, 2, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '4034556',
   'reviewer_name': 'Aparna',
   'comments': 'Greta was a lovely host! She was communicative, helpful and flexible during the booking process and very responsive and friendly when we were at her place in NYC. The house is charming and comfortable, and very conveniently located right by the 1 train. We were two of us and only used one room, but the house can fit another person or two. \r\nFor anyone visiting NYC and looking to be in the city but not in the midst of the city noise, this is a great place to stay! You can be downtown in 20 minutes. '},
  {'_id': '23415037',
   'date': datetime.datetime(2014, 11, 30, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '22685675',
   'reviewer_name': 'Karolina',
   'comments': "I stayed at Greta's place for 3 days! It was a really pleasant stay! The bed was really comfortable. The place was clean and cozy. A minute from the subway station! I didnt meet Greta in person, but we were communicating all the time and she was really helpful and kind with everything I needed! I would love to stay again the next time! :) i surely recommend it! "},
  {'_id': '23924172',
   'date': datetime.datetime(2014, 12, 14, 5, 0),
   'listing_id': '1003530',
   'reviewer_id': '16534063',
   'reviewer_name': 'Paul',
   'comments': "Staying at Greta's apartment was delightful!  It's a wonderful, quirky New York apartment -- very compact, but also very comfy and accurately portrayed in the pictures.  The Murphy (fold-down) bed has a very thick memory foam mattress that is extremely comfortable.  Samantha (the cat) was a sweet little presence, but she kept mostly to herself so we barely saw her.  The location is great, less than a block to the 1 line, and there are several nice restaurants in the neighborhood.  Finally, Greta herself was a perfect host:  kind but not intrusive, thoughtful in her preparations for guests, and available should any problems arise (though none did).  A great airbnb experience!"},
  {'_id': '28737168',
   'date': datetime.datetime(2015, 3, 29, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '29115141',
   'reviewer_name': 'Catherine',
   'comments': 'Greta was a great host.  She met us late on Friday and explained everything about the apartment which we found very comfortable and fun.  I would highly recommend this apartment to anyone.  It is not luxurious but well-equipped and I loved the location, near Central Park and easy walk to museums.\r\n'},
  {'_id': '29274122',
   'date': datetime.datetime(2015, 4, 6, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '18417452',
   'reviewer_name': 'Paul',
   'comments': "Apt is beautifully as advertised, a comfortable place and beds, kitchen and bath. Arrival and departure were really well coordinated by host, the lovely Greta. Location is fabulously convenient on upper West side by subway, Amsterdam and Broadway restaurants, bars and history. We'd stay here again.  "},
  {'_id': '29610000',
   'date': datetime.datetime(2015, 4, 10, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '27919376',
   'reviewer_name': 'Anika',
   'comments': 'Greta was a lovely host, making sure we settled in well and could contact her easily if there were any problems. \r\nThe apartment is cosy with very comfortable beds and a well equipped kitchen in case you need a place to cook. It is also a nice neighborhood, with a lot of great places to eat nearby and it is a minute away from a subway station, so you are well connected to the rest of the city. We had a great time! '},
  {'_id': '29775810',
   'date': datetime.datetime(2015, 4, 12, 4, 0),
   'listing_id': '1003530',
   'reviewer_id': '20415509',
   'reviewer_name': 'Jane',
   'comments': 'My daughter and I stayed the weekend at Gretas place.  Greta was herself away for the weekend but everything was in great shape for us to stay and Greta was very available by phone for any questions.  Everything was very tidy and clean..comfy beds and good shower.  It was like home.  The location in the city is perfect..close to the park and subway.  I highly recommend Gretas home for aNew York stay!'},
  {'_id': '30732097',
   'date': datetime.datetime(2015, 4, 26, 4, 0),

In [6]:
# Create lists to store data
unique_listing_id = []
listing_title = []
#listing_description = []
unique_host_id = []
access=[]
property_type=[]
room_type=[]
number_of_reviews=[]
accommodates=[]
bedrooms=[]
host_name = []
neighbourhood_name = []
coordinates = []
listing_price = []
start_date=[]
end_date = []
amenities = []
average_rating = []


#print(all_documents)
# Iterate through the fetched data and populate lists
for document in all_documents:
    unique_listing_id.append(document.get("_id"))
    listing_title.append(document.get("name"))
    #listing_description.append(document.get("description"))
    access.append(document.get("access"))
    property_type.append(document.get("property_type"))
    room_type.append(document.get("room_type"))
    number_of_reviews.append(document.get("number_of_reviews"))
    accommodates.append(document.get("accommodates"))
    bedrooms.append(document.get("bedrooms"))
    unique_host_id.append(document.get("host",{}).get("host_id"))
    host_name.append(document.get("host",{}).get("host_name"))
    neighbourhood_name.append(document.get("host",{}).get("host_neighbourhood"))
    coordinates.append(document.get("address",{}).get("location",{}).get("coordinates"))
    
    price = document.get("price", Decimal128('0.00'))  # Set a default value if "price" is missing
    price_float = float(price.to_decimal())  # Convert to float
    listing_price.append(price_float)
    
    start_date.append(document.get('first_review'))
    end_date.append(document.get('last_review'))
    amenities.append(document.get("amenities"))
    average_rating.append(document.get("review_scores",{}).get("review_scores_rating"))

data_dict = {
    "_id": unique_listing_id,
    "name": listing_title,
    #"description": listing_description,
    "access": access,
    "property_type": property_type,
    "room_type": room_type,
    "number_of_reviews": number_of_reviews,
    "accommodates": accommodates,
    "bedrooms": bedrooms,
    "host_id": unique_host_id,
    "host_name": host_name,
    "neighbourhood": neighbourhood_name,
    "coordinates": coordinates,
    "price": listing_price,
    "start_date": start_date,
    "end_date": end_date,
    "amenities": amenities,
    "rating": average_rating
}

In [12]:
# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

# Close the MongoDB connection
#client.close()

In [13]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating
0,1003530,New York City - Upper West Side Apt,New York City!,Apartment,Private room,70,2,1.0,454250,Greta,,"[-73.96523, 40.79962]",135.0,2013-04-29 04:00:00,2018-08-12 04:00:00,"[Internet, Wifi, Air conditioning, Kitchen, El...",94.0
1,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",88.0
2,10083468,Be Happy in Porto,My guests have acess to all apartment.,Loft,Entire home/apt,178,2,1.0,27518920,Fábio,,"[-8.61123, 41.15225]",30.0,2016-01-02 05:00:00,2019-02-09 05:00:00,"[TV, Cable TV, Wifi, Kitchen, Smoking allowed,...",97.0
3,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"[-43.190849194463404, -22.984339360067814]",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",98.0
4,10059244,Ligne verte - à 15 min de métro du centre ville.,Vous avez accès à tout l'appartement.,Apartment,Entire home/apt,0,2,0.0,7140229,Caro,,"[-73.54949, 45.54548]",43.0,NaT,NaT,"[TV, Internet, Wifi, Kitchen, Free parking on ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9936016,Alugo Apartamento na Tijuca,,Apartment,Entire home/apt,0,6,1.0,47092481,Aliane,,"[-43.173761316748546, -22.90833634089244]",750.0,NaT,NaT,"[TV, Cable TV, Internet, Wifi, Air conditionin...",NaN
5551,9985696,Kadıköy-Altıyol,,House,Entire home/apt,0,2,2.0,51303748,Eren,,"[29.03079, 40.98563]",501.0,NaT,NaT,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",NaN
5552,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"[TV, Internet, Wifi, Air conditioning, Kitchen...",97.0
5553,958849,Hawaii North Shore Oahu getaway!,,Apartment,Entire home/apt,42,2,1.0,1931435,Amy & Love,North Shore,"[-158.0442, 21.64037]",150.0,2013-03-17 04:00:00,2018-06-19 04:00:00,"[Cable TV, Wifi, Pool, Kitchen, Free parking o...",99.0
5554,9755908,2BLE ROOM W. PRIVATE BATHROOM BCN,You can use kichen and dining room.,Apartment,Private room,0,2,1.0,5166127,Xavier,,"[2.20914, 41.40227]",60.0,NaT,NaT,"[TV, Internet, Wifi, Kitchen, Elevator, Heatin...",NaN

In [14]:
df['coordinates'] = df['coordinates'].astype(str)
df['coordinates'] = df['coordinates'].str.replace('[', '').str.replace(']', '')  # Remove square brackets
df[['latitude', 'longitude']] = df['coordinates'].str.split(',', expand=True)

In [15]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,latitude,longitude
0,1003530,New York City - Upper West Side Apt,New York City!,Apartment,Private room,70,2,1.0,454250,Greta,,"-73.96523, 40.79962",135.0,2013-04-29 04:00:00,2018-08-12 04:00:00,"[Internet, Wifi, Air conditioning, Kitchen, El...",94.0,-73.96523,40.79962
1,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"-73.94472, 40.72778",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",88.0,-73.94472,40.72778
2,10083468,Be Happy in Porto,My guests have acess to all apartment.,Loft,Entire home/apt,178,2,1.0,27518920,Fábio,,"-8.61123, 41.15225",30.0,2016-01-02 05:00:00,2019-02-09 05:00:00,"[TV, Cable TV, Wifi, Kitchen, Smoking allowed,...",97.0,-8.61123,41.15225
3,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"-43.190849194463404, -22.984339360067814",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",98.0,-43.190849194463404,-22.984339360067814
4,10059244,Ligne verte - à 15 min de métro du centre ville.,Vous avez accès à tout l'appartement.,Apartment,Entire home/apt,0,2,0.0,7140229,Caro,,"-73.54949, 45.54548",43.0,NaT,NaT,"[TV, Internet, Wifi, Kitchen, Free parking on ...",NaN,-73.54949,45.54548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9936016,Alugo Apartamento na Tijuca,,Apartment,Entire home/apt,0,6,1.0,47092481,Aliane,,"-43.173761316748546, -22.90833634089244",750.0,NaT,NaT,"[TV, Cable TV, Internet, Wifi, Air conditionin...",NaN,-43.173761316748546,-22.90833634089244
5551,9985696,Kadıköy-Altıyol,,House,Entire home/apt,0,2,2.0,51303748,Eren,,"29.03079, 40.98563",501.0,NaT,NaT,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",NaN,29.03079,40.98563
5552,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"2.18888, 41.41069",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"[TV, Internet, Wifi, Air conditioning, Kitchen...",97.0,2.18888,41.41069
5553,958849,Hawaii North Shore Oahu getaway!,,Apartment,Entire home/apt,42,2,1.0,1931435,Amy & Love,North Shore,"-158.0442, 21.64037",150.0,2013-03-17 04:00:00,2018-06-19 04:00:00,"[Cable TV, Wifi, Pool, Kitchen, Free parking o...",99.0,-158.0442,21.64037
5554,9755908,2BLE ROOM W. PRIVATE BATHROOM BCN,You can use kichen and dining room.,Apartment,Private room,0,2,1.0,5166127,Xavier,,"2.20914, 41.40227",60.0,NaT,NaT,"[TV, Internet, Wifi, Kitchen, Elevator, Heatin...",NaN,2.20914,41.40227

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5555 non-null   object
 1   name               5555 non-null   object
 2   access             5555 non-null   object
 3   property_type      5555 non-null   object
 4   room_type          5555 non-null   object
 5   number_of_reviews  5555 non-null   int64
 6   accommodates       5555 non-null   int64
 7   bedrooms           5550 non-null   float64
 8   host_id            5555 non-null   object
 9   host_name          5555 non-null   object
 10  neighbourhood      5555 non-null   object
 11  coordinates        5555 non-null   object
 12  price              5555 non-null   float64
 13  start_date         4167 non-null   datetime64[ns]
 14  end_date           4167 non-null   datetime64[ns]
 15  amenities          5555 non-null   object
 16  rating             4081 non-null   float64
 17  latitude           5555 non-null   object
 18  longitude          5555 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(2), object(12)
memory usage: 824.7+ KB

In [17]:
df.describe()

,number_of_reviews,accommodates,bedrooms,price,start_date,end_date,rating
count,5555.000000,5555.000000,5550.000000,5555.000000,4167,4167,4081.000000
mean,27.606481,3.505851,1.411712,278.766157,2016-11-27 16:08:28.855291648,2018-08-15 20:18:09.416846592,93.099240
min,0.000000,1.000000,0.000000,9.000000,2009-10-27 04:00:00,2012-01-06 05:00:00,20.000000
25%,1.000000,2.000000,1.000000,70.000000,2015-12-08 17:00:00,2018-08-08 04:00:00,90.000000
50%,5.000000,3.000000,1.000000,129.000000,2017-04-02 04:00:00,2019-01-02 05:00:00,95.000000
75%,32.000000,4.000000,2.000000,280.000000,2018-04-24 04:00:00,2019-02-15 05:00:00,99.000000
max,533.000000,16.000000,20.000000,48842.000000,2019-03-10 05:00:00,2019-03-11 04:00:00,100.000000
std,49.798376,2.297019,1.041942,842.215531,NaN,NaN,9.023483

In [19]:
df.columns

Index(['_id', 'name', 'access', 'property_type', 'room_type',
       'number_of_reviews', 'accommodates', 'bedrooms', 'host_id', 'host_name',
       'neighbourhood', 'coordinates', 'price', 'start_date', 'end_date',
       'amenities', 'rating', 'latitude', 'longitude'],
      dtype='object')

In [20]:
df.replace(['None', 'NaN','NaT',''], pd.NA, inplace=True)

In [21]:
df.dropna(inplace=True)

In [22]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,latitude,longitude
1,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"-73.94472, 40.72778",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",88.0,-73.94472,40.72778
3,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"-43.190849194463404, -22.984339360067814",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",98.0,-43.190849194463404,-22.984339360067814
9,10051164,Catete's Colonial Big Hause Room B,O hóspedes poderão acessar espaços compartilha...,House,Private room,1,8,1.0,51326285,Beatriz,Catete,"-43.18015675229857, -22.92638234778768",250.0,2016-02-10 05:00:00,2016-02-10 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",80.0,-43.18015675229857,-22.92638234778768
10,1001265,Ocean View Waikiki Marina w/prkg,"Pool, hot tub and tennis",Condominium,Entire home/apt,96,2,1.0,5448114,David,Waikiki,"-157.83919, 21.28634",115.0,2013-05-24 04:00:00,2019-02-07 05:00:00,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",84.0,-157.83919,21.28634
20,10108388,Sydney Hyde Park City Apartment (checkin from ...,SECURITY Secure 24hour front-desk access with...,Apartment,Entire home/apt,109,2,1.0,16187044,Desireé,Darlinghurst,"151.21346, -33.87603",185.0,2016-06-30 04:00:00,2019-03-06 05:00:00,"[TV, Wifi, Air conditioning, Pool, Kitchen, Gy...",100.0,151.21346,-33.87603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5536,95560,La Sagrada Familia (and metro) 4 blocks!,The whole apartment is not rented. * I provide...,Apartment,Private room,463,2,1.0,494228,Julián,Camp d'en Grassot i Gràcia Nova,"2.16888, 41.40585",15.0,2011-05-24 04:00:00,2019-03-05 05:00:00,"[TV, Wifi, Paid parking off premises, Elevator...",85.0,2.16888,41.40585
5540,9951865,Quarto Legal,"Podem usar a sala , cozinha , banheiro e a aca...",Apartment,Private room,1,1,1.0,51142039,Dailton,Rio Comprido,"-43.21066664661915, -22.918154868570046",101.0,2018-02-15 05:00:00,2018-02-15 05:00:00,"[TV, Wifi, Kitchen, Gym, Elevator, Free street...",100.0,-43.21066664661915,-22.918154868570046
5544,9562872,"Close to subway, all shops, restaurants!",Wireless info has been updated in the airbnb a...,Townhouse,Entire home/apt,77,4,1.0,49509847,Ashiv / Abhilasha,Rego Park,"-73.85579, 40.72478",120.0,2016-08-11 04:00:00,2019-02-17 05:00:00,"[TV, Wifi, Air conditioning, Kitchen, Free str...",90.0,-73.85579,40.72478
5545,9611825,"Spacious, comfortable & budget friendly (Mile-...",I'll let you know where to get the key at leas...,Apartment,Entire home/apt,13,3,2.0,6485533,Jihane,Mile End,"-73.59521, 45.5198",101.0,2016-08-08 04:00:00,2017-12-26 05:00:00,"[TV, Wifi, Air conditioning, Kitchen, Paid par...",95.0,-73.59521,45.5198
5552,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"2.18888, 41.41069",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"[TV, Internet, Wifi, Air conditioning, Kitchen...",97.0,2.18888,41.41069

In [24]:
csv_file_path = 'Airbnb_vis.csv'

# Write the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully written to {csv_file_path}')

DataFrame successfully written to Airbnb_vis.csv

In [25]:
df1=pd.read_csv("Airbnb_vis.csv")

In [26]:
df1

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,latitude,longitude
0,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"-73.94472, 40.72778",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",88.0,-73.944720,40.727780
1,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"-43.190849194463404, -22.984339360067814",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",98.0,-43.190849,-22.984339
2,10051164,Catete's Colonial Big Hause Room B,O hóspedes poderão acessar espaços compartilha...,House,Private room,1,8,1.0,51326285,Beatriz,Catete,"-43.18015675229857, -22.92638234778768",250.0,2016-02-10 05:00:00,2016-02-10 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",80.0,-43.180157,-22.926382
3,1001265,Ocean View Waikiki Marina w/prkg,"Pool, hot tub and tennis",Condominium,Entire home/apt,96,2,1.0,5448114,David,Waikiki,"-157.83919, 21.28634",115.0,2013-05-24 04:00:00,2019-02-07 05:00:00,"['TV', 'Cable TV', 'Wifi', 'Air conditioning',...",84.0,-157.839190,21.286340
4,10108388,Sydney Hyde Park City Apartment (checkin from ...,SECURITY Secure 24hour front-desk access with...,Apartment,Entire home/apt,109,2,1.0,16187044,Desireé,Darlinghurst,"151.21346, -33.87603",185.0,2016-06-30 04:00:00,2019-03-06 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...",100.0,151.213460,-33.876030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,95560,La Sagrada Familia (and metro) 4 blocks!,The whole apartment is not rented. * I provide...,Apartment,Private room,463,2,1.0,494228,Julián,Camp d'en Grassot i Gràcia Nova,"2.16888, 41.40585",15.0,2011-05-24 04:00:00,2019-03-05 05:00:00,"['TV', 'Wifi', 'Paid parking off premises', 'E...",85.0,2.168880,41.405850
1845,9951865,Quarto Legal,"Podem usar a sala , cozinha , banheiro e a aca...",Apartment,Private room,1,1,1.0,51142039,Dailton,Rio Comprido,"-43.21066664661915, -22.918154868570046",101.0,2018-02-15 05:00:00,2018-02-15 05:00:00,"['TV', 'Wifi', 'Kitchen', 'Gym', 'Elevator', '...",100.0,-43.210667,-22.918155
1846,9562872,"Close to subway, all shops, restaurants!",Wireless info has been updated in the airbnb a...,Townhouse,Entire home/apt,77,4,1.0,49509847,Ashiv / Abhilasha,Rego Park,"-73.85579, 40.72478",120.0,2016-08-11 04:00:00,2019-02-17 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...",90.0,-73.855790,40.724780
1847,9611825,"Spacious, comfortable & budget friendly (Mile-...",I'll let you know where to get the key at leas...,Apartment,Entire home/apt,13,3,2.0,6485533,Jihane,Mile End,"-73.59521, 45.5198",101.0,2016-08-08 04:00:00,2017-12-26 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...",95.0,-73.595210,45.519800
1848,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"2.18888, 41.41069",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",97.0,2.188880,41.410690

In [33]:
import pandas as pd
import folium
import streamlit as st

# Load Airbnb dataset
df = pd.read_csv('Airbnb_vis.csv')

# Create a Streamlit web app
st.title("Airbnb Listing Distribution")

st.title('DataFrame Map Visualization')

# Display the DataFrame
st.dataframe(df)

# Create a Folium map
m = folium.Map(location=[df['latitude'].mean(), df['longitude'].mean()], zoom_start=4)

# Add markers to the map
for _, row in df.iterrows():
    folium.Marker([row['latitude'], row['longitude']]).add_to(m)

# Display the map using folium_static
st.write("Map")
st.write(m)

In [27]:
df=pd.read_csv("Airbnb_1.csv")

In [28]:
df['coordinates'] = df['coordinates'].astype(str)
df['coordinates'] = df['coordinates'].str.replace('[', '').str.replace(']', '')  # Remove square brackets
df[['latitude', 'longitude']] = df['coordinates'].str.split(',', expand=True)

In [31]:
csv_file_path = 'Airbnb_1.csv'

# Write the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully written to {csv_file_path}')

DataFrame successfully written to Airbnb_1.csv

In [32]:
df.head()

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,...,coordinates,price,start_date,end_date,amenities,rating,city,country,latitude,longitude
0,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,...,"-73.94472, 40.72778",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",88.0,New York,United States,-73.94472,40.72778
1,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,...,"-43.190849194463404, -22.984339360067814",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",98.0,Região Sudeste,Brasil,-43.190849194463404,-22.984339360067814
2,10051164,Catete's Colonial Big Hause Room B,O hóspedes poderão acessar espaços compartilha...,House,Private room,1,8,1.0,51326285,Beatriz,...,"-43.18015675229857, -22.92638234778768",250.0,2016-02-10 05:00:00,2016-02-10 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",80.0,Região Sudeste,Brasil,-43.18015675229857,-22.92638234778768
3,1001265,Ocean View Waikiki Marina w/prkg,"Pool, hot tub and tennis",Condominium,Entire home/apt,96,2,1.0,5448114,David,...,"-157.83919, 21.28634",115.0,2013-05-24 04:00:00,2019-02-07 05:00:00,"['TV', 'Cable TV', 'Wifi', 'Air conditioning',...",84.0,Hawaii,United States,-157.83919,21.28634
4,10108388,Sydney Hyde Park City Apartment (checkin from ...,SECURITY Secure 24hour front-desk access with...,Apartment,Entire home/apt,109,2,1.0,16187044,Desireé,...,"151.21346, -33.87603",185.0,2016-06-30 04:00:00,2019-03-06 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...",100.0,New South Wales,Australia,151.21346,-33.87603

In [37]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,city,country
0,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",88.0,New York,United States
1,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"[-43.190849194463404, -22.984339360067814]",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",98.0,Região Sudeste,Brasil
2,10051164,Catete's Colonial Big Hause Room B,O hóspedes poderão acessar espaços compartilha...,House,Private room,1,8,1.0,51326285,Beatriz,Catete,"[-43.18015675229857, -22.92638234778768]",250.0,2016-02-10 05:00:00,2016-02-10 05:00:00,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",80.0,Região Sudeste,Brasil
3,1001265,Ocean View Waikiki Marina w/prkg,"Pool, hot tub and tennis",Condominium,Entire home/apt,96,2,1.0,5448114,David,Waikiki,"[-157.83919, 21.28634]",115.0,2013-05-24 04:00:00,2019-02-07 05:00:00,"['TV', 'Cable TV', 'Wifi', 'Air conditioning',...",84.0,Hawaii,United States
4,10108388,Sydney Hyde Park City Apartment (checkin from ...,SECURITY Secure 24hour front-desk access with...,Apartment,Entire home/apt,109,2,1.0,16187044,Desireé,Darlinghurst,"[151.21346, -33.87603]",185.0,2016-06-30 04:00:00,2019-03-06 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Pool', 'Ki...",100.0,New South Wales,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1844,95560,La Sagrada Familia (and metro) 4 blocks!,The whole apartment is not rented. * I provide...,Apartment,Private room,463,2,1.0,494228,Julián,Camp d'en Grassot i Gràcia Nova,"[2.16888, 41.40585]",15.0,2011-05-24 04:00:00,2019-03-05 05:00:00,"['TV', 'Wifi', 'Paid parking off premises', 'E...",85.0,Catalunya,España
1845,9951865,Quarto Legal,"Podem usar a sala , cozinha , banheiro e a aca...",Apartment,Private room,1,1,1.0,51142039,Dailton,Rio Comprido,"[-43.21066664661915, -22.918154868570046]",101.0,2018-02-15 05:00:00,2018-02-15 05:00:00,"['TV', 'Wifi', 'Kitchen', 'Gym', 'Elevator', '...",100.0,Região Sudeste,Brasil
1846,9562872,"Close to subway, all shops, restaurants!",Wireless info has been updated in the airbnb a...,Townhouse,Entire home/apt,77,4,1.0,49509847,Ashiv / Abhilasha,Rego Park,"[-73.85579, 40.72478]",120.0,2016-08-11 04:00:00,2019-02-17 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...",90.0,New York,United States
1847,9611825,"Spacious, comfortable & budget friendly (Mile-...",I'll let you know where to get the key at leas...,Apartment,Entire home/apt,13,3,2.0,6485533,Jihane,Mile End,"[-73.59521, 45.5198]",101.0,2016-08-08 04:00:00,2017-12-26 05:00:00,"['TV', 'Wifi', 'Air conditioning', 'Kitchen', ...",95.0,Québec,Canada
1848,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",97.0,Catalunya,España

In [ ]:
df = df.explode('amenities')

# Reset the index to renumber the rows
df.reset_index(drop=True, inplace=True)

In [ ]:
csv_file_path = 'Airbnb_vis2.csv'

# Write the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully written to {csv_file_path}')

In [14]:
import geopy
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="myGeocoder")

city_list = []
country_list = []

# Iterate through the DataFrame using a for loop
for index, row in df.iterrows():
    location = geolocator.reverse(f"{row['coordinates'][1]}, {row['coordinates'][0]}", exactly_one=True)
    if location:
        address_parts = location.address.split(', ')
        city = address_parts[-3] if len(address_parts) >= 3 else None
        country = address_parts[-1]
        city_list.append(city)
        #print(country," - ", city)
        country_list.append(country)
        
    else:
        city_list.append(None)
        country_list.append(None)

# Add the 'city' and 'country' columns to the DataFrame
df["city"] = city_list
df["country"] = country_list

# Print the DataFrame with the added 'city' and 'country' columns
print(df[["_id", "name", "city", "country"]])

           _id                                               name  \
1     10057826                                  Deluxe Loft Suite
3     10038496                       Copacabana Apartment Posto 6
9     10051164                 Catete's Colonial Big Hause Room B
10     1001265                   Ocean View Waikiki Marina w/prkg
20    10108388  Sydney Hyde Park City Apartment (checkin from ...
...        ...                                                ...
5536     95560           La Sagrada Familia (and metro) 4 blocks!
5540   9951865                                       Quarto Legal
5544   9562872           Close to subway, all shops, restaurants!
5545   9611825  Spacious, comfortable & budget friendly (Mile-...
5552    940374                 New apartment near Sagrada Familia

                 city        country
1            New York  United States
3      Região Sudeste         Brasil
9      Região Sudeste         Brasil
10             Hawaii  United States
20    New South Wales      Australia
...               ...            ...
5536        Catalunya         España
5540   Região Sudeste         Brasil
5544         New York  United States
5545           Québec         Canada
5552        Catalunya         España

[1849 rows x 4 columns]

In [15]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,city,country
1,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",88.0,New York,United States
3,10038496,Copacabana Apartment Posto 6,todo o espaço.,Apartment,Entire home/apt,70,4,1.0,51530266,Ana Valéria,Copacabana,"[-43.190849194463404, -22.984339360067814]",119.0,2016-01-18 05:00:00,2019-01-28 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",98.0,Região Sudeste,Brasil
9,10051164,Catete's Colonial Big Hause Room B,O hóspedes poderão acessar espaços compartilha...,House,Private room,1,8,1.0,51326285,Beatriz,Catete,"[-43.18015675229857, -22.92638234778768]",250.0,2016-02-10 05:00:00,2016-02-10 05:00:00,"[TV, Cable TV, Internet, Wifi, Air conditionin...",80.0,Região Sudeste,Brasil
10,1001265,Ocean View Waikiki Marina w/prkg,"Pool, hot tub and tennis",Condominium,Entire home/apt,96,2,1.0,5448114,David,Waikiki,"[-157.83919, 21.28634]",115.0,2013-05-24 04:00:00,2019-02-07 05:00:00,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",84.0,Hawaii,United States
20,10108388,Sydney Hyde Park City Apartment (checkin from ...,SECURITY Secure 24hour front-desk access with...,Apartment,Entire home/apt,109,2,1.0,16187044,Desireé,Darlinghurst,"[151.21346, -33.87603]",185.0,2016-06-30 04:00:00,2019-03-06 05:00:00,"[TV, Wifi, Air conditioning, Pool, Kitchen, Gy...",100.0,New South Wales,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5536,95560,La Sagrada Familia (and metro) 4 blocks!,The whole apartment is not rented. * I provide...,Apartment,Private room,463,2,1.0,494228,Julián,Camp d'en Grassot i Gràcia Nova,"[2.16888, 41.40585]",15.0,2011-05-24 04:00:00,2019-03-05 05:00:00,"[TV, Wifi, Paid parking off premises, Elevator...",85.0,Catalunya,España
5540,9951865,Quarto Legal,"Podem usar a sala , cozinha , banheiro e a aca...",Apartment,Private room,1,1,1.0,51142039,Dailton,Rio Comprido,"[-43.21066664661915, -22.918154868570046]",101.0,2018-02-15 05:00:00,2018-02-15 05:00:00,"[TV, Wifi, Kitchen, Gym, Elevator, Free street...",100.0,Região Sudeste,Brasil
5544,9562872,"Close to subway, all shops, restaurants!",Wireless info has been updated in the airbnb a...,Townhouse,Entire home/apt,77,4,1.0,49509847,Ashiv / Abhilasha,Rego Park,"[-73.85579, 40.72478]",120.0,2016-08-11 04:00:00,2019-02-17 05:00:00,"[TV, Wifi, Air conditioning, Kitchen, Free str...",90.0,New York,United States
5545,9611825,"Spacious, comfortable & budget friendly (Mile-...",I'll let you know where to get the key at leas...,Apartment,Entire home/apt,13,3,2.0,6485533,Jihane,Mile End,"[-73.59521, 45.5198]",101.0,2016-08-08 04:00:00,2017-12-26 05:00:00,"[TV, Wifi, Air conditioning, Kitchen, Paid par...",95.0,Québec,Canada
5552,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,"[TV, Internet, Wifi, Air conditioning, Kitchen...",97.0,Catalunya,España

In [16]:
csv_file_path = 'Airbnb_1.csv'

# Write the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully written to {csv_file_path}')

DataFrame successfully written to Airbnb_1.csv

In [21]:
df = df.explode('amenities')

# Reset the index to renumber the rows
df.reset_index(drop=True, inplace=True)

In [22]:
df

,_id,name,access,property_type,room_type,number_of_reviews,accommodates,bedrooms,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,city,country
0,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,TV,88.0,New York,United States
1,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,Cable TV,88.0,New York,United States
2,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,Internet,88.0,New York,United States
3,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,Wifi,88.0,New York,United States
4,10057826,Deluxe Loft Suite,"Guest will have access to common terraces, lou...",Apartment,Entire home/apt,5,4,0.0,47554473,Mae,Greenpoint,"[-73.94472, 40.72778]",205.0,2016-01-03 05:00:00,2018-02-18 05:00:00,Air conditioning,88.0,New York,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49302,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,Patio or balcony,97.0,Catalunya,España
49303,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,Long term stays allowed,97.0,Catalunya,España
49304,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,Kitchenette,97.0,Catalunya,España
49305,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,Full kitchen,97.0,Catalunya,España
49306,940374,New apartment near Sagrada Familia,There is a terrace in the top of the building ...,Condominium,Entire home/apt,289,3,1.0,5082480,Francesco,El Clot,"[2.18888, 41.41069]",85.0,2013-03-25 04:00:00,2019-02-10 05:00:00,Paid parking on premises,97.0,Catalunya,España

In [23]:
csv_file_path = 'Airbnb_2.csv'

# Write the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully written to {csv_file_path}')

DataFrame successfully written to Airbnb_2.csv

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49307 entries, 0 to 49306
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                49307 non-null  object
 1   name               49307 non-null  object
 2   access             49307 non-null  object
 3   property_type      49307 non-null  object
 4   room_type          49307 non-null  object
 5   number_of_reviews  49307 non-null  int64
 6   accommodates       49307 non-null  int64
 7   bedrooms           49307 non-null  float64
 8   host_id            49307 non-null  object
 9   host_name          49307 non-null  object
 10  neighbourhood      49307 non-null  object
 11  coordinates        49307 non-null  object
 12  price              49307 non-null  float64
 13  start_date         49307 non-null  datetime64[ns]
 14  end_date           49307 non-null  datetime64[ns]
 15  amenities          49307 non-null  object
 16  rating             49307 non-null  float64
 17  city               49307 non-null  object
 18  country            49307 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(12)
memory usage: 7.1+ MB

In [ ]:
df.describe()

In [25]:
df.replace(['None', 'NaN','NaT',''], pd.NA, inplace=True)

In [26]:
df.dropna(inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49304 entries, 0 to 49306
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                49304 non-null  object
 1   name               49304 non-null  object
 2   access             49304 non-null  object
 3   property_type      49304 non-null  object
 4   room_type          49304 non-null  object
 5   number_of_reviews  49304 non-null  int64
 6   accommodates       49304 non-null  int64
 7   bedrooms           49304 non-null  float64
 8   host_id            49304 non-null  object
 9   host_name          49304 non-null  object
 10  neighbourhood      49304 non-null  object
 11  coordinates        49304 non-null  object
 12  price              49304 non-null  float64
 13  start_date         49304 non-null  datetime64[ns]
 14  end_date           49304 non-null  datetime64[ns]
 15  amenities          49304 non-null  object
 16  rating             49304 non-null  float64
 17  city               49304 non-null  object
 18  country            49304 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(12)
memory usage: 7.5+ MB

In [28]:
df.columns

Index(['_id', 'name', 'access', 'property_type', 'room_type',
       'number_of_reviews', 'accommodates', 'bedrooms', 'host_id', 'host_name',
       'neighbourhood', 'coordinates', 'price', 'start_date', 'end_date',
       'amenities', 'rating', 'city', 'country'],
      dtype='object')

In [ ]:
df.info()

# Review Data

In [40]:
all_documents = collection.find({})
unique_id=[]
review_date=[]
listing_id=[]
reviewer_id=[]
reviewer_name=[]

for document in all_documents:
    review_data=document.get("reviews")
    for data in review_data:
        unique_id.append(data.get("_id"))
        review_date.append(data.get("date"))
        listing_id.append(data.get("listing_id"))
        reviewer_id.append(data.get("reviewer_id"))
        reviewer_name.append(data.get("reviewer_name"))
    
review_data_dict = {
    "_id": unique_id,
    "review_date":review_date,
    "listing_id":listing_id,
    "reviewer_id":reviewer_id,
    "reviewer_name":reviewer_name
    
}

In [41]:
#review_data_dict

In [42]:
review_df=pd.DataFrame(review_data_dict)

In [43]:
review_df

              _id         review_date listing_id reviewer_id reviewer_name
0         4351675 2013-04-29 04:00:00    1003530     3708459          Josh
1         4848277 2013-05-28 04:00:00    1003530     4609491          Ralf
2         5094175 2013-06-11 04:00:00    1003530     6741662          Mame
3         5497796 2013-07-02 04:00:00    1003530      474156          Lars
4         6933005 2013-08-31 04:00:00    1003530     6067127        Nicole
...           ...                 ...        ...         ...           ...
149787   32601227 2015-05-19 04:00:00     958849    13799733         Julia
149788   35556294 2015-06-20 04:00:00     958849     3741836          Katy
149789   37378442 2015-07-06 04:00:00     958849    36244646        Marisa
149790   43505569 2015-08-20 04:00:00     958849    21784802         Morag
149791  279142317 2018-06-19 04:00:00     958849    29576341        Amanda

[149792 rows x 5 columns]

# EDA

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Airbnb_1.csv")

In [5]:
df.columns

Index(['_id', 'name', 'access', 'property_type', 'room_type',
       'number_of_reviews', 'accommodates', 'bedrooms', 'host_id', 'host_name',
       'neighbourhood', 'coordinates', 'price', 'start_date', 'end_date',
       'amenities', 'rating', 'city', 'country', 'latitude', 'longitude'],
      dtype='object')